/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// #include <dt-bindings/zmk/ext_power.h> */

#define HYP(code) LC(LS(LA(LG(code)))) // Hyper key: ctrl + shift + alt + super
#define MEH(code) LC(LS(LA(code))) // Meh key: ctrl + shift + alt


#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define MEDIA   3
#define ADJUST  4

/ {
    behaviors {
            td1: capslock {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_1";
				#binding-cells= <0>;
                tapping-term-ms = <300>;
                bindings = <&kp LSHFT>, <&kp CAPS>;
            };
            td2: capsword {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_2";
				#binding-cells= <0>;
                tapping-term-ms = <300>;
                bindings = <&kp RSHFT>, <&caps_word>;
            };
			//# ht: hold_tap {
			//# 	compatible = "zmk,behavior-hold-tap";
			//# 	label = "Hold Tap";
			//# 	#binding-cells = <2>;
			//# 	tapping-term-ms = <200>;
			//# 	flavor = "tap-preferred";
			//# 	bindings = <&m1 &kp>, <&kp>;
			//# };
        };

    macros {
            pw: pw {
                label = "PW";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap &kp N3 &kp N8 &kp N9 &kp N9 &kp RET>
                    ;
            };
            mail: mail {
                label = "Mail";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap &kp P &kp H &kp I &kp L &kp I &kp P
					&kp DOT &kp B &kp U &kp E &kp C &kp H &kp L &kp E &kp R
					&kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>
                    ;
            };
        };


    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };

	keymap {
		compatible = "zmk,keymap";
		default {
			bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   &kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BSPC
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &mt LCMD ESC    &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI        &lt MEDIA RET
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &td2
//╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯
   &none           &none           &none           &kp LCTRL       &mo LOWER       &none           &kp SPACE       &mo RAISE       &kp RALT        &none           &none           &none
//                                                ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯
			>;
		};

		lower {
			bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   &kp GRAVE       &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT       &kp CARET       &kp AMPS        &kp STAR        &kp LPAR        &kp RPAR        &kp DEL
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &mt LCMD ESC    &kp N1          &kp N2          &kp N3          &kp N4          &kp N5          &kp SQT         &kp MINUS       &kp PLUS        &kp LBKT        &kp RBKT        &kp PIPE
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp LSHFT       &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp DQT         &kp UNDER       &kp EQUAL       &kp LBRC        &kp RBRC        &kp BSLH
//╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯
   &none           &none           &none           &kp LCTRL       &mo LOWER       &none           &kp SPACE       &mo RAISE       &kp RALT        &none           &none           &none
//                                                ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯
			>;
		};

		raise {
			bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   &kp F19         &kp HYP(Q)      &kp HYP(W)      &kp HYP(E)      &kp HYP(R)      &kp HYP(T)      &kp HYP(Y)      &kp RA(Y)       &kp HYP(I)      &kp RA(P)       &kp HYP(P)      &kp DEL
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &mt LCMD ESC    &kp RA(Q)       &kp HYP(S)      &kp HYP(D)      &kp HYP(F)      &kp HYP(G)      &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp HYP(SEMI)   &kp HYP(RET)
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp LSHFT       &kp HYP(Z)      &kp HYP(X)      &kp HYP(C)      &kp HYP(V)      &kp HYP(B)      &kp HYP(N)      &kp HYP(M)      &kp HYP(COMMA)  &kp HYP(DOT)    &kp HYP(FSLH)   &kp RSHFT
//╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯
   &none           &none           &none           &kp LCTRL       &mo LOWER       &none           &kp HYP(SPACE)  &mo RAISE       &kp RALT        &none           &none           &none
//                                                ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯
			>;
		};

		enter {
			bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   &kp C_BRI_UP    &none           &none           &kp C_VOL_UP    &none           &none           &none           &none           &none           &none           &pw             &kp C_VOL_UP
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &none           &kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &kp F11         &none           &none           &none           &none           &none
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp C_BRI_DN    &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         &kp F12         &mail           &none           &none           &none           &kp C_VOL_DN
//╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯
   &none           &none           &none           &kp LCTRL       &none           &none           &none           &none           &kp LALT        &none           &none           &none
//                                                ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯


			>;
		};
		adjust {
			bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   &bootloader     &none           &none           &none           &sys_reset      &none           &none           &none           &none           &none           &none           &none
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &none           &none           &none           &none           &none           &none           &none           &none           &none           &none           &none           &none  
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp LSHFT       &none           &none           &bt BT_CLR      &none           &out OUT_BLE    &none           &none           &none           &none           &none           &kp RSHFT
//╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯
   &none           &none           &none           &kp LCTRL       &none           &none           &none           &none           &kp RALT        &none           &none           &none
//                                                ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯


			>;
		};
	};
};
